
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Roboto:ital,wght@1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
}
a{
  text-decoration: none;
  color: gold;
}

.app-main-div{
  background-color: #080808;
  min-height: 100vh;
  
}