.coin-page-right-side{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25;
    padding: 40;
    /* theme.breakpoints.down("md")]:{
        width: "100%" ,
        marginTop:0,
        padding:20,
        paddingtop:0,
    }
        */
}